{% macro show_ticket_item(ticket, assignableUsers) %}
    <div id="ticket_show" class="container-fluid" data-ticket-id="{{ ticket.id }}">
        <div class="row">
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            {{ ticket.id }} - {{ ticket.subject }}
                        </h4>
                    </div>
                    <div class="card-header bg-light-subtle">
                        Submitted on: {{ ticket.dateCreated|date(app.user.ticketDateFormat) }}
                        {% if ticket.dateModified == ticket.dateCreated %}
                            Modified on: {{ ticket.dateModified|date(app.user.ticketDateFormat) }}
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {{ ticket.originalMessage }}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Information</h4>
                    </div>
                    <div class="card-body bg-body-secondary">

                        <div class="row">
                            <div class="col">Requested by:</div>
                            <div class="col">
                                <a href="#">{{ ticket.requestingUser.username }}</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">Assigned to:</div>
                            <div class="col">
                                <span id="assign_user_span">
                                    {% if ticket.assignedUser is null %}
                                        <button class="btn btn-sm btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#assign_user_modal">Assign User</button>
                                    {% else %}
                                        <a href="#">{{ ticket.assignedUser.username }}</a>
                                    {% endif %}
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">Status</div>
                            <div class="col">{{ ticket.status.friendlyName }}</div>
                        </div>

                        <div class="row">
                            <div class="col">Tags</div>
                            <div class="col">
                                {% for tag in ticket.tags %}
                                     <a href="#" class="badge rounded-pill text-bg-primary link-underline link-underline-opacity-0">{{ tag.friendlyName }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="assign_user_modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form>
                        <label class="form-label" for="assign_user_select">Assign a user</label>
                        <select id="assign_user_select" class="form-select">
                            {% for user in assignableUsers %}
                                <option value="choose" selected>Choose User</option>
                                <option value="{{ user.id }}">{{ user.lastName ~ ', ' ~ user.firstName }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        <script>
            let assignUserModal = document.getElementById('assign_user_modal');
            let assignUserSelect = document.getElementById('assign_user_select');

            assignUserModal.addEventListener('shown.bs.modal', () => {
                assignUserSelect.focus()

                assignUserSelect.onchange = (event) => {
                    let val = event.target.value.toString();

                    ajaxUtil.post('{{ path('app_ticket_update_assign') }}', {'userId': val, 'ticketId': {{ ticket.id }}}, function(response) {
                        let json = JSON.parse(response);

                        if (json.success) {
                            let modalBd = document.getElementsByClassName('modal-backdrop');
                            let assignUserSpan = document.getElementById('assign_user_span');
                            assignUserSpan.innerHTML = '<a href="#" data-userid="' + json.payload.data.userId + '">' + json.payload.data.user.lastName + ', ' + json.payload.data.user.firstName + '</a>';

                            assignUserModal.classList.remove('show');
                            assignUserModal.style.display = 'none';
                            modalBd[0].remove();
                            assignUserModal.remove();
                        }
                    });
                }
            });
        </script>

        {% include 'partials/javascript/ajax.html.twig' %}
    {% endblock %}

{% endmacro %}
